@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.Swin-container{
    float:right;
    height:97.8vh;
    background-color: white;
    width: 85%;
    margin: 9px;
    border: 1px solid #A39E9E;
    border-radius: 16px;
    overflow-y: scroll;
}

.settings-headCont{
    padding: 20px;
}

.settings-header{
    color: #1C2E8B;
    font-size: 30px;
    font-weight: 600;
    padding: 0px 20px;
}

 hr{
    width: 100%;
}
.Fin-section{
    font-family: 'nobile', sans-serif;
    font-size: 23px;
    font-weight: 450;
    color: #1C2E8B;
    padding: 20px 60px;

}
.finCard-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 12px;
    flex-wrap: wrap;
    gap: 1rem;
}



.fin-card1{
    align-items: center;
    border: 1px solid gray;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 30px 55px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(217, 215, 215);
}

.toggle-container {
    display: "flex";
    justify-content: "center";
    align-items: "center";
}

.finCard-title{
    font-family: 'Noto sans', sans-serif;
    font-weight: 450;
    font-size: 25px;
    color: #fff;
    margin-bottom: 8px;
}


.finCard-toggle{
    border: 1px solid;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.finCard-toggle.active{
    background-color: green;
    transition: 0.3s ease;
}

.finCard-toggle.inactive{
    background-color: red;
    transition: 0.3s ease;
}

.finCard-circle{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: left 0.3s ease;
}


.disable{
    border: 1px solid black;
    padding: 10px 50px;
    border-radius: 12px;
    color: #1C2E8B;
    background-color: #ffff;
}

.status-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C3C3C3;
    border: 1px solid rgb(161, 159, 159);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12px;
    box-shadow: 2px 2px 2px rgb(217, 215, 215);
}

.finCard-status{
    font-family: 'Noto sans';
    color: #1C2E8B;
    font-weight: 100;
    font-size: 1.2rem;
}

.dashCard-wrapper{
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 12px;
    flex-wrap: wrap;
}

.dash-card1{
    border: 1px solid rgb(185, 183, 183);
    border-radius: 12px;
    padding: 20px 60px;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(217, 215, 215);
}



.Svisit-header{
    font-family: 'Noto sans', sans-serif;
    font-size: 20px;
    font-weight: 450;
    color: #1C2E8B;
    margin-bottom: 10px;
}

.Svisitor-count, .Smos-visitor{
    font-family: 'inter', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: #1C2E8B;
}


.btnResetDaily, .btnResetMonthly{
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 10px 55px;
    background-color: #5366C8;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgb(215, 215, 215);
}

.system-wrapper{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px 20px 30px ;
    margin: 0px auto;
    flex-wrap: wrap
}

.tittle{
    color: #1C2E8B;
    font-weight: 500;
    font-size: 22px;
}

.tit-descrip{
  color: #7e808a;
  font-weight: 350;
  font-size: 18px;
}

.shutoff-btn{
    border: 1px solid #1C2E8B;
    color: #fff;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(215, 215, 215);
}

.shutoff-btn.Disable{
    background-color: #1C2E8B;
}

.confirm-button {
    padding: 12px 50px; 
    font-size: 18px;
    margin-right: 10px;
    background-color: #1C2E8B;
    color:#fff;
  }
  
  .cancel-button{
    padding: 12px 30px;
    background-color: #fff;
    font-size: 18px;
    border: 1px solid #1C2E8B;
    color: #1C2E8B;
  }
  
  .swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
  }

  .status-cont{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .system-card{
    display: flex;
    align-items: center;
    gap: 5rem;
    border: 1px solid rgb(188, 185, 185);
    padding: 30px 80px;
    border-radius: 12px;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px rgb(217, 215, 215);
  }

  .cutoff-btn{
    border: 1px solid gray;
    color: white;
    padding: 10px 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(215, 215, 215);
}

.cutoff-btn.Disable{
    background-color: #1c8b53;
}

.cutoff-btn.Enable{
    background-color: rgb(54, 47, 154);
}

  @media only screen and (max-width: 1145px) {
    .Swin-container{
        width: 90%;
    }
    .finCard-wrapper{
        display: flex;
        gap: 2rem;
  }
}

  @media only screen and (max-width: 1024px) {
   
}